langchain
langchain_community
langchain_core
langchain_groq
langchain_huggingface
langchain_chroma
langchain_openai
langchain_experimental
transformers
sentence-transformers
python-dotenv
streamlit
ipykernel
chromadb==0.3.29
streamlit_chat
pypdf
PyPDF2
bs4
openai
llamaapi
streamlit_mic_recorder
ollama